[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vinely
[access "refs/for/refs/*"]
	read = group user/vinely
	push = group user/vinely
	label-Code-Review = -2..+2 group user/vinely
	label-Verified = -1..+1 group user/vinely
	rebase = group user/vinely
	removeReviewer = group user/vinely
	submit = group user/vinely
[access "refs/heads/*"]
	read = group user/vinely
	create = group user/vinely
	push = +force group user/vinely
	pushMerge = group user/vinely
[access "refs/tags/*"]
	push = +force group user/vinely
	pushTag = group user/vinely
	pushSignedTag = group user/vinely
